extends layout

block content
  .main
    .main__left
      .main__videos
        #video-grid
      .main__controls
        .main__controls__block
          .main__controls__button.main__mute_button(onclick='muteUnmute()')
            i.fas.fa-microphone
            span Mute
          .main__controls__button.main__video_button(onclick='playStop()')
            i.fas.fa-video
            span Stop Video
        .main__controls__block
          .main__controls__button
            i.fas.fa-shield-alt
            span Security
          .main__controls__button
            i.fas.fa-user-friends
            span Participants
          .main__controls__button
            i.fas.fa-comment-alt
            span Chat
        .main__controls__block
          .main__controls__button
            span.leave_meeting Leave Meeting
    .main__right
      .main__header
        h6 Chat
      .main__chat_window
        ul.messages
      .main__message_container
        input#chat_message(type='text' placeholder='Type message here...')
